/* styles.css */

/* Định dạng cho các label */
.form label {
    display: inline-block;
    width: 20%; /* Điều chỉnh độ rộng tương ứng với số đề mục trong một hàng */
    text-align: right;
    margin-right: 10px;
}

/* Định dạng cho các phần tử input, select và textarea */
.form input, .form select, .form textarea {
    display: inline-block;
    width: 60%; /* Điều chỉnh độ rộng tương ứng với số đề mục trong một hàng */
}

/* Định dạng cho nút submit */
.form input[type="submit"] {
    display: block;
    margin: 0 auto;
}

/* Định dạng cho các đề mục 1, 2, 3, 4, 5 thẳng hàng */
.form h2 {
    text-align: left;
}
