.list{
    width: 730px;
    height: 520px;
    border: 3px solid #3082c3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.element-search{
    position: relative;
    top: 50px;
    left: 40px;
}
.text-label{
    width: 80px;
    height: 35px;
    padding: 8px;
    border: #CCD6E3 1px solid ;
    border-radius: 4px;
    background: #CCD6E3;
    box-sizing: border-box;
}
.search{
    margin-left: 10px;
    width: 170px;
    height: 35px;
    box-sizing: border-box;
    border: #879EB9 2px solid ;
}
.button{
    width: 80px;
    height: 35px;
    border: #507198 2px solid;
    border-radius: 4px;
    background: #4F81BD ;
    color: #D8E3F0;
    position: relative;
    left: 30px;
}
.position-key{
    display: inline-flex;
    position: relative;
    left: 15px;
}
.element-display{
    position: relative;
    top: 100px;
    left: 40px;
}
#button-add{
    position: absolute;
    left: 534px;
}
.element-table{
    position: relative;
    top: 130px;
    left: 40px;
}
.table{
    position: relative;
    width: 90%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
.button-action{
    width: 42px;
    height: 24px;
    border: #507198 2px solid;
    border-radius: 4px;
    background: #4F81BD ;
    color: #D8E3F0;
}
.action-button {
    display: inline-block;
    text-align: center;
    margin-right: 10px; /* Để tạo khoảng cách giữa các nút */
    text-decoration: none; /* Loại bỏ đường gạch chân mặc định */
    width: 80px; /* Chiều rộng */
    height: 35px; /* Chiều cao */
    border: 2px solid #507198; /* Đường viền */
    border-radius: 4px; /* Bo tròn góc */
    background: #4F81BD; /* Màu nền xanh */
    color: #D8E3F0; /* Màu chữ trắng */
    position: relative;
    left: 30px; /* Di chuyển vị trí nút sang phải 30px */
    cursor: pointer; /* Biểu tượng con trỏ khi trỏ vào nút */
}

.action-button:hover {
    background: #507198; /* Màu nền khi hover */
}
.buttonedit,
.buttondelete {
    width: 80px;
    height: 35px;
    border: 2px solid #507198;
    border-radius: 4px;
    background: #4F81BD;
    color: #D8E3F0;
    position: relative;
    left: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

.buttonedit:hover,
.buttondelete:hover {
    background: #507198;
}
